@import '../../styles/globals';

.moviesContainer {
	padding: 20px;
}

.filterAndSearching {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.nothingFound {
	color: red;
	font-weight: bold;
	font-size: 19px;
	margin: 20px 0;
}

.moviesWrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	color: #ffffff;
}

.pagination {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

@media (max-width: 1024px) {
	.moviesWrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 725px) {
	.moviesWrapper {
		grid-template-columns: repeat(1, 1fr);
	}
	.filterAndSearching {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 426px) {
	.pagination {
		margin-bottom: 80px;
	}
}
